{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Me encanta Rxjs</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim dignissimos minima deleniti ex, saepe quas
            rerum omnis quam neque veritatis accusamus eveniet! Fugit nemo accusamus ducimus nostrum nam doloribus
            consectetur.
        </p>
    </div>

    <div class="col-4">
        <img src="asssets/img/reactivex-seeklogo.com.svg" class="img-thumbnail">
    </div>
</div>


{{> footer }}